.Body--2{
    height: 20px;
width: 95px;
left: 17px;
top:365px;
text-align: left;
position: absolute;
font-family: 'Cera Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #6D787E;

}